# 12 MHz Clock
set_io -nowarn CLK        35

# USB
set_io -nowarn USB_DET    37
set_io -nowarn USB_DN     38
set_io -nowarn USB_DP     42

# Button and LEDs
set_io -nowarn BTN_n       2
set_io -nowarn LED_R      25
set_io -nowarn LED_G       6

# RGB LED Driver
set_io -nowarn RGB[0]     39
set_io -nowarn RGB[1]     40
set_io -nowarn RGB[2]     41

# QSPI Flash/RAM
set_io -nowarn SPI_IO0    14
set_io -nowarn SPI_IO1    17
set_io -nowarn SPI_IO2    18
set_io -nowarn SPI_IO3    19
set_io -nowarn SPI_SCK    15
set_io -nowarn SPI_CS_n   16
set_io -nowarn FLASH_CS_n 16
set_io -nowarn RAM_CS_n    6

# GPIO
set_io -nowarn P0         47
set_io -nowarn P1         44
set_io -nowarn P2         48
set_io -nowarn P3         45
set_io -nowarn P4          4
set_io -nowarn P5          3
set_io -nowarn P6          9
set_io -nowarn P7         10
set_io -nowarn P8         11
set_io -nowarn P9         12
set_io -nowarn P10        21
set_io -nowarn P11        13
set_io -nowarn P12        20
set_io -nowarn P13        25
set_io -nowarn P14        23
set_io -nowarn P15        27
set_io -nowarn P16        26
set_io -nowarn P17        28
set_io -nowarn P18        31
set_io -nowarn P19        32
set_io -nowarn P20        34
set_io -nowarn P21        36
set_io -nowarn P22        43
set_io -nowarn P23        46
